<DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>shopwai</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//cdn.bootcss.com/materialize/0.97.8/css/materialize.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <div class="navbar">
        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container"><a id="logo-container" href="http://task5.herokuapp.com" class="brand-logo">shopwai</a>
            </div>
        </nav>
    </div>

    <span class="hide" id="category-count">{{ categories|length }}</span>
    <span class="hide" id="items-count">{{ items|length }}</span>

    <div class="row">
            <form class="col s12 offset-l2" id="add-item-form" action="{{ url_for('index') }}" method="POST">
                <div class="row">

                    <div class="input-field col s7">
                        <input class="validate" id="item-input" type="text" name="item" placeholder="Item Name"
                        onkeydown="if (event.keyCode == 13) document.getElementById('new-item').click()">
                    </div>
                    <a class="waves-effect waves-light btn input-field" id="new-item" href="#"><i class="material-icons">add</i></a>
                    <br>
                </div>
            </form>
        </div>

        <div>
              <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s6"><a href="#swipe-1">Test 1</a></li>
            <li class="tab col s6"><a class="active" href="#swipe-2">Test 2</a></li>

          </ul>
          <div id="swipe-1" class="col s12 blue">First tab content</div>
          <div id="swipe-2" class="col s12 red">Second tab content</div>

        </div>

        <div class="row">

            <div class="items">
               <span class="category-name">{{ category_now.name }}</span>
                {% for item in items %}
                <div>
                    <p class="card-panel hoverable" id="item{{loop.index}}">
                        {% if item.category.id == 2 %}
                        <a><i class="material-icons left">done_all</i></a>
                        <span><del>{{ item.body }}</del></span>
                        {% else %}
                        <a class="item-done left" href="{{ url_for('done', id=item.id) }}" title="done?"><i class="material-icons left">done</i></a>
                        <span>{{ item.body }}</span>
                        {% endif %}
                        <a class="right delete-item" href="{{ url_for('del_item', id=item.id) }}" title="delete it?"><i class="material-icons left">delete</i></a>
                        <a class="edit-btn right" id="{{loop.index}}" href="#!"><i class="material-icons left">mode_edit</i></a>
                    </p>
                    <form class="card-panel edit-form" id="form{{loop.index}}" action="{{ url_for('edit_item', id=item.id) }}" method="POST">
                        <input placeholder="What to do next?" name="body" type="text" class="validate" value="{{ item.body }}">
                        <a class="waves-effect waves-light btn confirm-btn" href="#!" onclick="document.getElementById('form{{loop.index}}').submit()">Confirm</a>
                        <a class="waves-effect waves-light btn cancel-btn" href="#!">Cancel</a>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
        {% if category_now.id == 1 %}
        <div class="center-align" id="demo"></div>
        <br>
        <br>
        <br>
        {% endif %}
    </div>

    <script>
        var jsonData = {
            "heatmap": {
                "binSize": 10,
                "map": {{item_coordinates|tojson}}
            }
        };
    </script>
    <script src="//cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/core.js') }}" type="text/javascript"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="{{ url_for('static', filename='js/d3.floorplan.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/map-operations.js') }}"></script>
</body>
</html>